.navbar-custom {
  background-color: rgba(142, 202, 230, 0.25);
  height: 88px;
}

/* .dropdown-content {
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 8px 0;
  display: block;
} */
.group-child45 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-skyblue-200);
  width: 100%;
  height: 247px;
  margin: auto;
}
.group-child46 {
  position: absolute;
  top: 98.5px;
  border-top: 1px solid var(--color-slategray);
  box-sizing: border-box;
  width: 100%;
  height: 1px;
  margin: auto;
}
.blog5 {
  position: relative;
  letter-spacing: 0.02em;
  line-height: 180%;
  font-weight: 500;
}
.blog-parent3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.linkedin-icon5 {
  position: relative;
  width: 35px;
  height: 35px;
}
.frame-parent45,
.linkedin-parent3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.frame-parent45 {
  position: absolute;
  top: 40px;
  left: 150px;
  align-items: center;
  gap: var(--gap-337xl);
}
.giggles10 {
  width: 100%;
  /* margin: auto; */
  color: var(--color-black);
  -webkit-text-stroke: 0.5px #8ECAE6; 
}
.sweatgiggles-txt10 {
  line-break: anywhere;
  width: 100%;
  margin: auto;
}
.sweatgiggles10 {
  position: absolute;
  top: 44.55px;
  left: 0;
  display: flex;
  align-items: center;
  width: 205px;
  height: 41.45px;
}
.group-child47 {
  position: absolute;
  top: 0;
  left: 81.02px;
  width: 43.58px;
  height: 49.79px;
}
.sweatgiggles-parent8 {
  position: relative;
  width: 205px;
  height: 86px;
}
.sweatgiggles-inc-all5 {
  position: relative;
  font-size: var(--body-2-15-med-size);
  letter-spacing: 0.02em;
  line-height: 180%;
  font-weight: 500;
  font-family: var(--body-2-15-med);
  color: var(--black-2);
  text-align: left;
}
.frame-parent46,
.group-parent22 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.frame-parent46 {
  position: absolute;
  top: 139px;
  left: 150px;
  gap: var(--gap-214xl);
  text-align: center;
  font-size: var(--header-4-sembold-size);
  color: var(--color-skyblue-100);
  font-family: var(--font-britannic-bold);
}
.rectangle-parent20 {
  position: absolute;
  top: 2199px;
  left: 0;
  width: 100%;
  height: 247px;
  margin: auto;
  color: var(--black-2);
}
.sweatgiggles11 {
  position: absolute;
  top: 39.63px;
  left: 0;
  display: flex;
  align-items: center;
  width: 182.18px;
  height: 36.87px;
}
.group-child48 {
  position: absolute;
  top: 0;
  left: 72px;
  width: 38.73px;
  height: 44.29px;
}
.sweatgiggles-parent9 {
  position: relative;
  width: auto;
  height: 76.5px;
}
.fitness-services5 {
  position: relative;
  letter-spacing: 0.01em;
  line-height: 169.5%;
  font-weight: 600;
}
.frame-child48 {
  position: relative;
  border-radius: var(--br-12xs-5);
  width: 11.75px;
  height: 6.79px;
}
.fitness-services-parent3 {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.about-us5 {
  position: relative;
  font-size: var(--body-2-15-med-size);
  letter-spacing: 0.02em;
  line-height: 180%;
  font-weight: 500;
  color: var(--black-2);
  cursor: pointer;
}
.frame-select {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.log-in5,
.sign-in5 {
  position: relative;
  letter-spacing: 0.01em;
  font-weight: 600;
}
.sign-in5 {
  font-size: var(--body-3-sembold-size);
  letter-spacing: 0.02em;
  font-family: var(--body-2-15-med);
  color: var(--white);
  text-align: left;
}
.vuesaxlineararrow-right-icon5 {
  position: relative;
  width: 24px;
  height: 24px;
}
.sign-in-parent2 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xs) var(--padding-base);
  background-color: transparent;
  border-radius: var(--br-8xs);
  background: linear-gradient(90deg, #425876, #2c3c50);
  justify-content: center;
  gap: var(--gap-5xs);
}
.frame-parent47,
.group-parent23,
.sign-in-parent2 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.frame-parent47 {
  justify-content: center;
  gap: var(--gap-21xl);
  text-align: left;
  font-size: var(--body-3-sembold-size);
  color: var(--black-3);
  font-family: var(--body-2-15-med);
}

.logo-container {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.logo {
  width: 160px; 
}

.frame-parent47 {
  display: flex;
  align-items: center;
}

.group-parent23 {
  justify-content: flex-start;
  gap: var(--gap-441xl);
}
.group-child49,
.home-page-inner {
  position: relative;
  margin: auto;
}
.home-page-inner {
  background-color: var(--color-skyblue-200);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(5px);
  height: 88px;
  display: flex;
  flex-direction: column;
  padding: var(--padding-sm) var(--padding-180xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: var(--header-4-sembold-size);
  font-family: var(--font-britannic-bold);
}
.group-child49 {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.sweatgiggles12 {
  display: flex;
  align-items: center;
  text-align: center;
  /* backdrop-filter: contrast(0.8); */
  width: 600px;
  height: 189px;
}
.sweatgiggles-wrapper {
  position: relative;
  /* backdrop-filter: blur(10px); */
  width: 486px;
  height: 189px;
}
.fit-fun-and {
  position: relative;
  font-size: var(--font-size-17xl);
  line-height: 160%;
  text-transform: uppercase;
  font-weight: 800;
  font-family: var(--body-2-15-med);
  text-shadow: 8.057002067565918px 8.057002067565918px 32.23px
    rgba(0, 0, 0, 0.1);
  -webkit-text-stroke: 1px #8ECAE6;
  -webkit-text-fill-color: var(--color-gray-100);
}
.group-parent25 {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content:center;
  gap: var(--gap-13xl);
}
.arrow-down-icon {
  position: relative;
  width: 20px;
  height: 20px;
}
.frame-child49,
.frame-child50 {
  position: relative;
  border-radius: 50%;
  width: 10px;
  height: 10px;
}
.frame-child49 {
  background-color: var(--white);
}
.frame-child50 {
  border: 1px solid var(--white);
  box-sizing: border-box;
}
.arrow-down-parent,
.ellipse-parent2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.arrow-down-parent {
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translate(-50%, -95%);
  z-index: 1;
  text-align: center;
  gap: var(--gap-base);
}
.rectangle-parent21 {
  position: relative;
  width: 100%;
  height: 594px;
  margin: auto;
}
.arrow-down-group,
.group-parent26 {
  position: absolute;
  top: 235px;
  left: 239px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-13xl);
}
.arrow-down-group {
  top: 534px;
  left: 634px;
  flex-direction: row;
  gap: var(--gap-base);
}
.group-parent27 {
  top: 235px;
  left: 209px;
  flex-direction: column;
  gap: var(--gap-13xl);
}
.group-parent24,
.group-parent27,
.group-parent28 {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.group-parent28 {
  top: 235px;
  left: 345px;
  flex-direction: column;
  gap: var(--gap-13xl);
}
.component-3 {
  position: relative;
  width: 100%;
  height: 594px;
  margin: auto;
  overflow: hidden;
  font-size: var(--font-size-45xl);
  font-family: var(--font-britannic-bold);
}

.home-page-child {
  position: absolute;
  top: 85%;
  left: 95%;
  transform: translate(-50%, -50%);
  z-index: 1;
  width: 56px;
  height: 56px;
}
.group-child53 {
  top: 0;
  left: 0;
  background-color: var(--white);
  width: 100%;
  height: 820px;
  margin: auto;
}
.group-child54 {
  position: absolute;
  top: 821px;
  left: 543px;
  width: 359px;
  height: 17px;
  display: none;
}
.our-fitness-service {
  position: absolute;
  top: 0;
  left: 0;
}
.vector-container {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  text-align: center;
  width: 565px;
  height: 38px;
  font-size: var(--h-1-34-bold-size);
  color: var(--black-1);
}
.group-child55 {
  position: absolute;
  top: 883px;
  left: 543px;
  width: 359px;
  height: 17px;
  display: none;
}
.our-fitness-service-description {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: 0.02em;
  line-height: 180%;
  font-weight: 500;
  display: inline-block;
  width: 752px;
}
.vector-parent1 {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  text-align: center;
  width: 752px;
  height: 62px;
  text-align: center;
  font-size: var(--body-1-17-med-size);
  color: var(--black-2);
}
.group-child56,
.group-child57 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-8xs);
  width: 267px;
}
.group-child56 {
  background-color: var(--black-1);
  box-shadow: var(--effect);
  height: 361px;
}
.group-child57 {
  height: 203px;
  object-fit: cover;
}
.frame-child71 {
  position: relative;
  width: 60px;
  height: 60px;
}
.hiit-workouts {
  position: relative;
  letter-spacing: 0.02em;
  line-height: 170%;
  font-weight: 600;
}
.group-parent29 {
  position: absolute;
  top: 227px;
  left: 56px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.rectangle-parent26 {
  position: relative;
  width: 267px;
  height: 361px;
}
.group-parent30 {
  position: absolute;
  top: 227px;
  left: 103px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.group-child62,
.rectangle-parent27 {
  position: relative;
  width: 267px;
  height: 361px;
}
.group-child62 {
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--white);
  width: 60px;
  height: 60px;
}
.image-2-icon {
  position: absolute;
  top: 12px;
  left: 17px;
  width: 26px;
  height: 36px;
  object-fit: cover;
}
.group-parent31 {
  position: absolute;
  top: 227px;
  left: 84px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.rectangle-parent28 {
  position: relative;
  width: 267px;
  height: 361px;
}
.group-parent32 {
  position: absolute;
  top: 227px;
  left: 104px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
}

.rectangle-parent29 {
  position: relative;
  width: 267px;
  height: 361px;
}
.group-child65 {
  position: absolute;
  top: 45%;
  left: 100%;
  width: 48px;
  height: 48px;
}
.home-page-item,
.rectangle-parent25 {
  position: absolute;
  left: 0;
  width: 100%;
  margin: auto;
}
.rectangle-parent25 {
  top: 682px;
  height: 820px;
  font-size: var(--h-2-20-bold-size);
  color: var(--white);
}
.home-page-item {
  top: 1400px;
  background-color: var(--black-10);
  height: 800px;
}    
.home-page-child1,
.home-page-child2,
.home-page-child3 {
  position: absolute;
  top: 40%;
  left: 20%;
  transform: translate(-50%, -50%);
  z-index: 1;
  text-align: center;
  border-radius: 50%;
  background-color: var(--color-skyblue-200);
  width: 567px;
  height: 567px;
}
.home-page-child2,
.home-page-child3 {
  top: 40%;
  left: 85%;
  transform: translate(-50%, -50%);
  z-index: 1;
  text-align: center;
  width: 423px;
  height: 423px;
}
.home-page-child3 {
  top: 27%;
  left: 83%;
  transform: translate(-50%, -50%);
  z-index: 1;
  text-align: center;
  width: 203px;
  height: 203px;
}
.book-a-personal {
  position: absolute;
  top: 10%;
  left: 50%;
  font-size: var(--h-1-34-bold-size);
  color: var(--black-1);
  transform: translate(-50%, -50%);
  z-index: 1;
  text-align: center;
}
.group-child66 {
  border-radius: var(--br-8xs);
  object-fit: cover;
}
.group-child66,
.group-child68,
.rectangle-parent30 {
  position: absolute;
  top: 0;
  left: 0;
  width: 267px;
  height: 268px;
}
.group-child68 {
  top: 288px;
  left: 40px;
  border-radius: 50%;
  background-color: var(--color-lightblue-100);
  width: 36px;
  height: 36px;
}
.anthony-lulu-frame,
.group-parent33 {
  position: absolute;
  top: 292px;
  left: 48px;
  width: 171px;
  height: 27px;
}
.group-parent33 {
  cursor: pointer;
    border: 0;
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    z-index: 1;
    text-align: center;
    padding: 0;
    background-color: transparent;
    width: 267px;
    height: 324px;
}
.group-child70 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-8xs);
  background-color: var(--color-gray-200);
  width: 267px;
  height: 268px;
}
.group-child71 {
  position: absolute;
  top: 285px;
  left: 48px;
  border-radius: 50%;
  background-color: var(--color-lightblue-100);
  width: 36px;
  height: 36px;
}
.kate-urban {
  position: absolute;
  top: 0;
  left: 0;
  font-size: var(--header-4-sembold-size);
  font-weight: 600;
  font-family: var(--body-2-15-med);
  color: var(--black-2);
  text-align: center;
}
.group-parent34,
.kate-urban-wrapper {
  position: absolute;
  top: 292px;
  left: 59px;
  width: 150px;
  height: 27px;
}
.group-parent34 {
  cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    text-align: center;
    width: 267px;
    height: 321px;
}
.group-child74 {
  position: absolute;
  top: 286px;
  left: 26px;
  border-radius: 50%;
  background-color: var(--color-lightblue-100);
  width: 36px;
  height: 36px;
}
.cynthia-jacobs-wrapper,
.group-parent35 {
  position: absolute;
  top: 292px;
  left: 34px;
  width: 198px;
  height: 27px;
}
.group-parent35 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%);
  z-index: 1;
  text-align: center;
  width: 267px;
  height: 322px;
}
.home-page-child4,
.home-page-child5 {
  position: absolute;
  top: 45%;
  left: 78%;
  transform: translate(-50%, -50%);
  z-index: 1;
  text-align: center;
  width: 48px;
  height: 48px;
}

.home-page-child5 {
  left: 22%;
}
.home-page {
  position: relative;
  background-color: var(--black-9);
  width: 100%;
  height: 2446px;
  margin: auto;
  text-align: left;
  font-size: var(--body-2-15-med-size);
  color: var(--color-skyblue-100);
  font-family: var(--body-2-15-med);
}

.fitness-cards{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  display: flex;
  gap: 45px;
}